# This is a basic workflow to help you get started with Actions

name: test

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [5915-issue-fix]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      OPENSHIFT_IMAGE_TAG:
        description: 'Optional parameter for additional tags on released images. '
        required: false
        default: vTest-3
        type: string
      
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  createTagInGit:
    runs-on:  ubuntu-latest
    
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # It should get the code from branch that triggered this workflow
      - name: Check out code
        id: checkout
        uses: actions/checkout@v3
        with:
          ref: main
      - id: print
        run: |
          pwd
          cd ${{github.GITHUB_WORKSPACE}}
          pwd
      - id: validate
        run: |
          pwd
          git tag
          
    # Tag and push the tag
      - name: Tag the commit with Release number
        id: tag
        uses: actions-ecosystem/action-push-tag@v1
        with:
          tag: v${{github.event.inputs.OPENSHIFT_IMAGE_TAG}}
          message: 'Tag generated by GitHub Actions: release-hniesb.'

      # - name: Tag the commit
      #   id: tag
      #   run: |
      #     git config --local user.email "action@github.com"
      #     git config --local user.name "GitHub Action"
      #     git commit -am "Update frontend and backend image ids using deploy workflow."
      #     git push origin    
